
hero-button {
  background: #FEDA71;
  background: -moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
  background: -webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: -ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  background: linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
  padding:8px 18px;
  color:#623F1D;
  font-family:'Helvetica Neue',sans-serif;
  font-size:16px;
  border-radius:48px;
  -moz-border-radius:48px;
  -webkit-border-radius:48px;
  border:1px solid #623F1D
}     


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0; padding: 0;
}

body {
  background: #333;
}

.header {
  height: 25px;
  background: #111;
  color: #fff;
  text-align: center;
  font: 11px/25px Helvetica, Arial, sans-serif;
}

.header a {
  color: #eee;
}

.header a:hover {
  text-decoration: none;
}


/*PIC*/
.pic {
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 20px;
  border: 10px solid white;

  -webkit-box-shadow: 5px 5px 5px #111;
  box-shadow: 5px 5px 5px #111;
  float: left;
}

.pic:hover {
  cursor: pointer;
}




#c,#c1,#c2,#c3,#c4,#c5,#c6,#c7,#p0,#p1,#p2,#p3,#i2,#i0,#i1,#i3 {
  position:relative;
  height:224px;
  width:214px;
  margin:0 auto;
}

#c img,#c1 img,#c2 img,#c3 img,#c4 img,#c5 img ,#c6 img ,#c7 img,#p0 img,#p1 img,#p2 img,#p3 img,#i0 img,#i1 img,#i2 img,#i3 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#c img.top:hover, #c1 img.top:hover, #c2 img.top:hover, #c3 img.top:hover, #c4 img.top:hover, #c5 img.top:hover , #c6 img.top:hover , #c7 img.top:hover, #p0 img.top:hover, #p1 img.top:hover , #p2 img.top:hover, #p3 img.top:hover, #i0 img.top:hover, #i1 img.top:hover, #i2 img.top:hover, #i3 img.top:hover  {
  opacity:0;
}

input.rounded {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
input.rounded:focus {
  border-color: #339933;
}





